/* Import Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* globals.css */
.layout-background {
    background: linear-gradient(291.34deg, #010101 0%, #4D4D4D 100%);
    min-height: 100vh; 
    background-size: cover; 
    background-attachment: fixed; 
  }
   

input:invalid:focus {
  outline: none !important;
}


input:invalid + .error-message {
  display: block;
  color: red;
}
